    {% extends 'index.html' %}

    {% block title %}
    New Meeting
    {% endblock %}

    {% block content %}

    <div class="panel-heading text-center"> <h1>Create meeting</h1></div>
   <form method="post">
      <div class="panel-body">


         <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="mroom">Meting Room </label>
                  <div class='input-group '>
                      <select id="mroom" name="mroom" class="custom-select form-control" required >
                          <option selected value="First">First</option>
                          <option value="Second">Second</option>
                          <option value="Тhird">Тhird</option>
                          <option value="Fourth">Fourth</option>
                          <option value="Fifth">Fifth</option>
                      </select>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-home"></span>
                      </span>
                  </div>
               </div>
            </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="employee">Employee </label>
                  <div class='input-group'>
                     <input type='text' class="form-control" name="employee" id="employee" placeholder="Employee" required/>
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-user"></span>
                     </span>
                  </div>
                    <div name="flashemp">
                     {% for msg in get_flashed_messages() %}
                     <div class="flash text-danger">{{msg}}<a href="#" data-toggle="modal" data-target="#whyemp"> Why?</a></div>
                     {% endfor %}
                    </div>
                </div>
              </div>
             <div>
          </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label" for="stime">Start Time</label>
                  <div class='input-group' >
                     <input type="datetime-local" lang="en" class="form-control"  value="2021-02-03T14:00" name="stime" id="stime" required >
                  </div>
                   <div name="flashstime">
                       {% for msg in get_flashed_messages() %}
                                <div class="flash text-danger">{{msg}}<a href="#" data-toggle="modal" data-target="#whystime"> Why?</a></div>
                       {% endfor %}
                   </div>
               </div>
            </div>
            <div class='col-md-6'>
               <div class="form-group">
                  <label class="control-label" for="etime">End Time</label>
                  <div class='input-group'>
                     <input type="datetime-local" lang="en" class="form-control" value="2021-02-03T15:00" name="etime" id="etime"  required>
                  </div>
                   <div name="flashetime">
                   {% for msg in get_flashed_messages() %}
                   <div class="flash text-danger">{{msg}}<a href="#" a href="#" data-toggle="modal" data-target="#whyetime"> Why?</a></div>
                   {% endfor %}
                   </div>
               </div>
            </div>
         </div>

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <div class="text-left">
                     <input type="submit" class="btn btn-primary btn-lg btn-block" value="OK" name="OK">
                      </div>
                  </div>
              </div>
               <div class="col-md-6">
                   <div class="form-group">
                      <div class="text-right">
                           <input type="reset" class="btn btn-primary btn-lg btn-block" value="Cancel">
                      </div>
                   </div>
               </div>
          </div>
      </div>
   </form>


<!-- Modal message for validation employee -->
<div class="modal fade" id="whyemp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title" >Employee name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The name of the employee must begin with an uppercase letter,
          must contain at least 3 characters and
          must not contain other characters than the letter
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ОК</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal message for validation start time -->
<div class="modal fade" id="whystime" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div  class="modal-header bg-primary ">
        <h5 class="modal-title" >Start Time</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You cannot reserve a meeting in the past or today.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ОК</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal message for validation end time -->
<div class="modal fade" id="whyetime" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div  class="modal-header bg-primary ">
        <h5 class="modal-title" >End Time</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Duration of meeting must be more than one hour.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ОК</button>
      </div>
    </div>
  </div>
</div>
    <script>
    function myFunction() {
        var x = document.getElementById("myLocalDate").min = "2006-05-05T16:15:23";
            document.getElementById("demo").innerHTML = "The value of the min attribute was changed from '2000-10-06T22:22:55' to '2006-05-05T16:15:23'.";
            }
</script>
    {% endblock %}