{% extends 'index.html' %}

{% block title %}
    All Meetings
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel-heading text-center"> <h1>All meetings</h1></div>
    {% for msg in get_flashed_messages() %}
    <div class="flash text-info">{{msg}}</div>
    {% endfor %}

    <div >
        <table class="table">
            <!--            Column names      -->
            <thead>
            <tr>
                <th scope="col">Meeting Room</th>
                <th scope="col">Employee</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>

            <tbody>
            {% for elem in meeting %}
            <tr>
                <td>{{elem.mroom}}</td>
                <td>{{elem.employee}}</td>
                <td>{{elem.stime[11:16]}} in {{elem.stime[0:10]}} </td>
                <td>{{elem.etime[11:16]}} in {{elem.etime[0:10]}} </td>
                <td>

                        <!--      Update               -->
                        <a href="/meetings/update/{{elem.id}}" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="update" name="updatemeet">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <!--        Delete             -->
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#DeleteModal" title="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>

 <!-- Modal -->
                    <div class="modal fade collapse " id="DeleteModal" tabindex="1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div  class="modal-dialog modal-dialog-centered modal-sm " role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary ">
                                    <h3 class="modal-title" id="deleteModalLabel">Confirm delete.</h3>
                                </div>
                                <div class="modal-body text-center">
                                    Are you sure remove meeting for {{elem.employee}}?
                                </div>
                                <div class="modal-footer">
<!--                                    action="{{url_for('delete', id= elem.id)}}"-->
                                    <form method="post">
                                        <a class="btn btn-primary" href="/meetings/delete/{{elem.id}}"  data-toggle="tooltip"  title="remove" type="submit" value="Yes">Yes</a>
                                    </form>
                                    <a type="button" class="btn btn-primary" data-dismiss="modal">No</a>
                                </div>
                            </div>
                        </div>
                    </div>

                 </td>
                <td>

                </td>
            </tr>


            {% endfor %}
            </tbody>
        </table>
    </div>


</div>


{% endblock %}