{% extends 'index.html' %}

{% block title %}
    All Meetings
{% endblock %}

 {% block content %}
<div class="panel-heading text-center"> <h1>Thank you for reserving meetings!</h1></div>
<div class="panel-body"><h2>
    <div> Your meeting take place in the :<b class="text-info"> {{mroom}} </b> room. </div>
    <div> At the employee : <b class="text-info">{{employee}}</b></div>
    <div>Your meeting will start at :<b class="text-info"> {{stime}}</b> </div>
    <div>And Your meeting will end at : <b class="text-info">{{etime}}</b></div>
</h2>
    <form>
        <input type="button" value="ok">
    </form>
</div>

 {% endblock %}
