    {% extends 'index.html' %}

    {% block title %}
    Update Meeting
    {% endblock %}

    {% block content %}

    <div class="panel-heading text-center"> <h1>Update meeting</h1></div>
   <form method="post">
      <div class="panel-body">
         <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="mroom">Meting Room </label>
                  <div class='input-group '>
                      <select id="mroom" name="mroom" class="custom-select form-control" required >
                          <option selected value="no room was selected">Choose Room</option>
                          <option value="First">First</option>
                          <option value="Second">Second</option>
                          <option value="Тhird">Тhird</option>
                          <option value="Fourth">Fourth</option>
                          <option value="Fifth">Fifth</option>
                      </select>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-home"></span>
                      </span>
                  </div>
               </div>
            </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="employee">Employee </label>
                  <div class='input-group date'>
                     <input type='text' class="form-control" value="{{meeting.employee}}" name="employee" id="employee" placeholder="Employee" required/>
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-user"></span>
                     </span>
                  </div>
               </div>
            </div>
          </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label" for="stime">Start Time</label>
                  <div class='input-group date' id='datetimepicker1'>
                       <input type="datetime-local" lang="en"  class="form-control" value="{{meeting.stime}}" class="form-control" name="stime" id="stime"  required>
                  </div>
               </div>
            </div>
            <div class='col-md-6'>
               <div class="form-group">
                  <label class="control-label" for="etime">End Time</label>
                  <div class='input-group date' id='datetimepicker2'>
                      <input type="datetime-local" lang="en" class="form-control"  value="{{meeting.etime}}" class="form-control" name="etime" id="etime" required >
                  </div>
               </div>
            </div>
         </div>

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <div class="text-left">
                     <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update">
                      </div>
                  </div>
              </div>
               <div class="col-md-6">
                   <div class="form-group">
                      <div class="text-right">
                           <input type="reset" class="btn btn-primary btn-lg btn-block" value="Cancel">
                      </div>
                   </div>
               </div>
          </div>



      </div>
   </form>


    {% endblock %}